html, body{
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100%;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5dce6; 
}

.contenedor{
  padding: 130px;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  width: 25%;  
  height: 30%;
}

.subcontenedor{
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  text-align: center; 
}

.inputs{
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 80%;
  margin-left: 50px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button{
  padding: 5%;
  margin-top: 5px;
  margin-left: 80px;
  border-radius: 8px;
  box-shadow: 0;
  background-color: aquamarine;
  cursor: pointer;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  font-size: 15px;
  font-weight: bold;
  
}

button:hover{
  background-color: rgb(71, 65, 65);
  color: aliceblue;
}









